li:nth-child(even) {
  background-color: gray;
}

li:nth-child(odd) {
  background-color: rgb(80, 76, 76);
}

p::first-letter {
  font-size: 32px;
}

p::first-line {
  color: orange;
}

td {
  background-color: green;
  color: #000;
}

.contenedor-logo {
  width: 80%;
  max-width: 300px;
}

.logo-rebote {
  width: 50px;
  animation: rebote 1s ease-out;
}

@keyframes rebote {
  0%   { transform: translateY(-100px); }
  30%  { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  70%  { transform: translateY(0); }
  85%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
